
.container{
  position: relative;
  height:100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  border:1px solid black;
  padding: 20px;
  box-sizing: border-box;
}

.spinner {
  position: relative;
	height: 60px;
	width: 60px;
	background: rgba(0, 0, 0, .2);
  border-radius: 50%;
	border: 5px solid rgba(0, 0, 0, 0.4);
	border-top-color: #fff;
	animation: spinner 600ms linear infinite;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}