.mainGraph{
  height:100%;
}
.minimalGraph{
  height:100%;
}

.axis{
  stroke: black
}
.axisTicks{
  stroke:black
}
.axisLabels{
  font-size: 12px;
}
.axisGridline{
  stroke:black;
  opacity: 0.2;
  pointer-events: none;
}
.verticalAxisLabel{
  font-size: 12px;
}
.horizontalAxisLabel{
  font-size: 12px;
}
.chartPath{
  stroke: red;
  stroke-width: 3;
  opacity: 0.8;
  fill: none;
  pointer-events: none;
}

