

.inputRange {
  -webkit-appearance: none;
  margin: 10px 10px 0 0;
  width: calc(100% - 10px);
  display: flex;
}
.inputRange:focus {
  outline: none;
}
.inputRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animation: 0.2s; 
  box-shadow: none;
  background: #a00000;
  border: none;
}
.inputRange::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 16px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
.inputRange:focus::-webkit-slider-runnable-track {
}
.inputRange::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: none;
  background: #a00000;
  border-radius: 1.3px;
  padding:0;
  margin:0;
  border: none;
}
.inputRange::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 32px;
  width: 16px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
}

// EDGE & IE
.inputRange::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}
.inputRange::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.inputRange::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.inputRange::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.inputRange:focus::-ms-fill-lower {
  background: #3071a9;
}
.inputRange:focus::-ms-fill-upper {
  background: #367ebd;
}

/// APPLIED

.inputRangesContainer{
  position: relative;
  display: flex;
  width: auto;
  margin:0 60px;
}

.maxInputRange{
  composes: inputRange;
  display: inline-block;
  position: absolute;
  top:0;
  left:0;
  right:0;
  // height:1px;

  &::-ms-track,
  &::-moz-range-track{
    height:1px;
    background: rgba(0,0,0,0);
    z-index: 100;
    box-shadow: none;
    border:none;
  } 
  &:focus::-webkit-slider-runnable-track,
  &::-webkit-slider-runnable-track {
    background: rgba(0,0,0,0);
    z-index: 100;
    box-shadow: none;
    border:none;
  }

  &::-ms-thumb,
  &::-moz-range-thumb{
    height:20px;
    width:20px;
  }
  &:focus::-webkit-slider-thumb,
  &::-webkit-slider-thumb {
    z-index: 200;
  }
}

.minInputRange{
  composes: inputRange;
  display: inline-block;
  position: absolute;
  top:0;
  left:0;
  right:0;
}