

.hoverAreaCircle{
  stroke: none;
  fill: red;
  opacity: 0;
  cursor: pointer;
}
.categoryRing{
  stroke: red;
  fill: none;
  pointer-events: none;
}
.categoryCircle{
  stroke: none;
  opacity: 0.8;
  fill: red;
  pointer-events: none;
}
.tooltipBox{
  opacity: 0.6;
  pointer-events: none;
}
.namesLabel{
  fill:white;
  font-weight: bold;
  pointer-events: none;
}
.names{
  fill:white;
  pointer-events: none;
}

.horizontalHoverLine{
  stroke:black;
  opacity: 0.4;
  pointer-events: none;
}

.verticalHoverLine{
  stroke:black;
  opacity: 0.4;
  pointer-events: none;
}