.container{
  width:100vw;
  height:100vh;
  box-sizing: border-box;
  overflow:hidden;
  position: relative;
  display: grid;
  grid-template-areas:
    ' head '
    ' main '
    ;
  grid:
    ' head '
    ' main '
    ;
  grid-template-rows: 80px 1fr;
  grid-gap: 0;
  //padding:10px;
}
  .header{
    position: relative;
    //display: flex;
    grid-area: head;
    background: rgb(218, 218, 218);
    padding:0 16px;
    > h2,
    > h4{
      margin:10px 0;
      text-align: left;
    }

  }
  .application{
    position: relative;
    grid-area: main;
    background: white;
    overflow:hidden;
    overflow-y:auto;
    padding:0px;
    height: 100%;
    display: grid;
    grid-template-areas:
      ' maingraph '
      ' smallgraph '
      ' horizontalslider '
      ;
    grid:
      ' maingraph '
      ' smallgraph '
      ' horizontalslider '
      ;
    grid-template-rows: 3fr 1fr 1fr;
    grid-gap: 0;
  }
  .mainGraph{
    width:100%;
    height: 100%;
    grid-area: maingraph;
  }
    .verticalRangeInputsContainer{
      position: absolute;
      top:0;
      right:0;
      width: calc((100vh - 80px) / 5 * 3);
      display: inline-block;
      transform: rotate(-90deg) translate(-30px,-60px);
      transform-origin: right top;
    }
  .smallGraph{
    width:100%;
    height: 100%;
    grid-area: smallgraph;
  }
  .horizontalRangeInputsContainer{
    width:100%;
    height: 100%;
    grid-area: horizontalslider;
  }